<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Services API python examples</title>
</head>
<body>

    <h1>Order management with Web Services API</h1>
    <ul>
        <li><a href="submit/?type=sale">order submit (sale)</a></li>
        <li><a href="submit/?type=auth">order submit (auth)</a></li>
        <li><a href="settle/">order settlement</a></li>
        <li><a href="credit/">order credit</a></li>
        <li><a href="receipt/">receipt</a></li>
    </ul>

</body>
</html>